div.repohead {

  // Patch the Title Action Bar (which contains the Watch, Fork, etc. buttons)
  // to allow it to contain context menus. Without this, they're cropped.
  div.title-actions-bar {
    overflow: visible;
  }

  // Patch the Action Buttons Container to sit above the menu overlay. Without
  // this, the overlay is above the alerts menu, which renders it unclickable.
  // TODO: This is a crappy fix.
  ul.pagehead-actions {
    z-index: 21;
  }
}


// Alerts menu
.amck-filters-button-container {
  .minibutton {
    padding-left: 0;
  }

  .context-pane {
    margin-top: 5px;
    width: 200px;
  }

  table.notifications {
    margin-bottom: 5px;

    td {
      padding: 5px 0;
      font-weight: normal;
    }

    tr:first-child td {
      padding-top: 0;
    }

    tr:last-child td {
      border-bottom-color: #eee;
    }
  }

  // There doesn't seem to be an established style for select all/none buttons
  // on GitHub, so I'm just using two links. Maybe update this later.
  div.select {
    float: right;
    text-align: right;
    padding-left: 8px;
    border-left: 1px dotted #ddd;

    a {
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  div.help {
    font-weight: normal;
    font-size: 11px;
    color: #aaa;
  }
}


// Filtered alert
.news .alert.amck-filter {
  display: none;
  opacity: 0.5;
}


// Filter This Alert toggler
.amck-filter-this {
  position: absolute;
  display: none;
  top: 22px;
  left: 0;
  width: 22px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #999;

  div.alert:hover & {
    display: block;
  }
}


// Filtered %d Alerts bar
.amck-gh-filter-counter {
  border: 1px solid #eee;
  border-radius: 5px;
  background: #f8f8f8;
  font-size: 12px;
  color: #333;
  margin-bottom: 25px;
  padding: 10px;

  span {
    font-weight: bold;
  }

  a {
    float: right;
  }
}
